.ourContainer{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.ourBorder{
    border: solid 1px red;
}

.hideScrollBar::-webkit-scrollbar {
    display: none;
}

.circleTimer {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: solid 3px #349292;
    border-left: solid 3px #ffffff;
    animation: changeTimer 7s infinite linear;
}

@keyframes changeTimer {
    100% {
        transform: rotate(2turn);
     }
}

.zelijeBg{
    background-image: url("../public/imgUsed/bg5.png");
}